<!doctype html>
<html>
  <head>
    <title>Mã OTP</title>
    <style>
      .brand {
        background: #1d4a35 !important;
        color: white;
        padding: 10px 0 10px 10px;
        border-radius: 2px;
      }
    </style>
  </head>
  <body style="font-family: Helvetica, Arial, sans-serif; min-width: 1000px; overflow: auto; line-height: 2">
    <div style="margin: 50px auto; width: 70%; padding: 20px 0">
      <div class="brand" style="border-bottom: 1px solid #eee">
        <a href="" style="font-size: 1.4em; color: #fff; text-decoration: none; font-weight: 600">Mid Autumn</a>
      </div>
      <p style="font-size: 1.1em">Hi,</p>
      <p>Cảm ơn bạn đã chọn Mid Autumn. Sử dụng mã OTP sau để có thể dổi mật khẩu. OTP có hiệu lực trong 5 phút.</p>
      <h2
        style="
          background: #1d4a35;
          margin: 0 auto;
          width: max-content;
          padding: 0 10px;
          color: #fff;
          border-radius: 4px;
        "
      >
        <%= otp %>
      </h2>
      <p style="font-size: 0.9em">Trân trọng,<br />Mid Autumn</p>
      <hr style="border: none; border-top: 1px solid #eee" />
      <div style="float: right; padding: 8px 0; color: #aaa; font-size: 0.8em; line-height: 1; font-weight: 300">
        <p>Mid Autumn Inc</p>
        <p>Liên Phương, Thường Tín, Hà Nội</p>
      </div>
    </div>
  </body>
</html>
